@{
    ViewBag.Title = "Index";
}

<h2>Próximos Compromissos</h2>
<a href="~/Compromissos/Add" style="margin-left:90%" class="btn btn-fab btn-primary btn-raised icon-material-add" title="Adicionar Compromisso"></a>