USE [projetopi]
GO
/****** Object:  Table [dbo].[VUSUACONT]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VUSUACONT](
	[IDUSER] [int] NOT NULL,
	[IDUSER2] [int] NOT NULL,
	[IDEMPR] [int] NOT NULL,
	[NOME] [varchar](50) NULL,
	[ENDERECO] [varchar](50) NULL,
	[BAIRRO] [varchar](30) NULL,
	[CIDADE] [varchar](50) NULL,
	[CEP] [varchar](20) NULL,
	[TELEFONE] [varchar](20) NULL,
 CONSTRAINT [PKC_USER_USER2_EMPR] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC,
	[IDUSER2] ASC,
	[IDEMPR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBEMPRESAS]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBEMPRESAS](
	[IDEMPR] [int] IDENTITY(1,1) NOT NULL,
	[EMPR_CNPJ] [varchar](25) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[STATUS] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CNPJ_EMPR] UNIQUE NONCLUSTERED 
(
	[EMPR_CNPJ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBUSUARIOS]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBUSUARIOS](
	[IDUSER] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](30) NOT NULL,
	[SOBRENOME] [varchar](30) NULL,
	[EMAIL] [varchar](80) NOT NULL,
	[SENHA] [varchar](50) NULL,
	[ENDERECO] [varchar](50) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [varchar](50) NULL,
	[CEP] [varchar](9) NULL,
	[TELEFONE] [varchar](20) NULL,
	[USUARIOSISTEMA] [char](1) NOT NULL,
	[LIBERACONVITE] [char](1) NOT NULL,
	[STATUS] [char](1) NOT NULL,
	[DT_CRIACAO] [datetime] NOT NULL,
	[IMAGEM] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBTAREFAS]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBTAREFAS](
	[IDTARE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](200) NULL,
	[DT_INICIO] [datetime] NOT NULL,
	[DT_FIM] [varchar](25) NULL,
	[PRIORIDADE] [char](1) NULL,
	[STATUS] [char](1) NOT NULL,
	[IDUSER] [int] NULL,
	[IDUSERDEST] [int] NULL,
	[IDEMPR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTARE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBNOTAS]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBNOTAS](
	[IDNOTA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](100) NULL,
	[IDUSER] [int] NULL,
	[IDEMPR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNOTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCOMPROMISSOS]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCOMPROMISSOS](
	[IDCOMP] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](30) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[DT_INICIO] [datetime] NOT NULL,
	[DT_FIM] [datetime] NULL,
	[STATUS] [char](1) NOT NULL,
	[IDUSER] [int] NULL,
	[IDEMPR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VUSUAEMPR]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUSUAEMPR](
	[IDUSER] [int] NOT NULL,
	[IDEMPR] [int] NOT NULL,
 CONSTRAINT [PKC_USER_EMPR] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC,
	[IDEMPR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTARECOMENT]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VTARECOMENT](
	[IDCOMENT] [int] IDENTITY(1,1) NOT NULL,
	[IDTARE] [int] NOT NULL,
	[COMENTARIO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOMENT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VCOMPUSER]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VCOMPUSER](
	[IDCOMP] [int] NOT NULL,
	[IDUSER] [int] NOT NULL,
 CONSTRAINT [PKC_COMP_USER] PRIMARY KEY CLUSTERED 
(
	[IDCOMP] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VCOMPTARE]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VCOMPTARE](
	[IDCOMP] [int] NOT NULL,
	[IDTARE] [int] NOT NULL,
 CONSTRAINT [PKC_COMP_TARE] PRIMARY KEY CLUSTERED 
(
	[IDCOMP] ASC,
	[IDTARE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VCOMPNOTA]    Script Date: 11/14/2014 16:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VCOMPNOTA](
	[IDCOMP] [int] NOT NULL,
	[IDNOTA] [int] NOT NULL,
 CONSTRAINT [PKC_COMP_NOTA] PRIMARY KEY CLUSTERED 
(
	[IDCOMP] ASC,
	[IDNOTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_EMPR_COMP_TBEMPRESAS]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBCOMPROMISSOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPR_COMP_TBEMPRESAS] FOREIGN KEY([IDEMPR])
REFERENCES [dbo].[TBEMPRESAS] ([IDEMPR])
GO
ALTER TABLE [dbo].[TBCOMPROMISSOS] CHECK CONSTRAINT [FK_EMPR_COMP_TBEMPRESAS]
GO
/****** Object:  ForeignKey [FK_USER_COMP_TBUSUARIOS]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBCOMPROMISSOS]  WITH CHECK ADD  CONSTRAINT [FK_USER_COMP_TBUSUARIOS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[TBUSUARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[TBCOMPROMISSOS] CHECK CONSTRAINT [FK_USER_COMP_TBUSUARIOS]
GO
/****** Object:  ForeignKey [FK_EMPR_NOTA_TBEMPRESAS]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBNOTAS]  WITH CHECK ADD  CONSTRAINT [FK_EMPR_NOTA_TBEMPRESAS] FOREIGN KEY([IDEMPR])
REFERENCES [dbo].[TBEMPRESAS] ([IDEMPR])
GO
ALTER TABLE [dbo].[TBNOTAS] CHECK CONSTRAINT [FK_EMPR_NOTA_TBEMPRESAS]
GO
/****** Object:  ForeignKey [FK_USER_NOTA_TBUSUARIOS]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBNOTAS]  WITH CHECK ADD  CONSTRAINT [FK_USER_NOTA_TBUSUARIOS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[TBUSUARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[TBNOTAS] CHECK CONSTRAINT [FK_USER_NOTA_TBUSUARIOS]
GO
/****** Object:  ForeignKey [FK_EMPR_TARE_TBEMPRESAS]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBTAREFAS]  WITH CHECK ADD  CONSTRAINT [FK_EMPR_TARE_TBEMPRESAS] FOREIGN KEY([IDEMPR])
REFERENCES [dbo].[TBEMPRESAS] ([IDEMPR])
GO
ALTER TABLE [dbo].[TBTAREFAS] CHECK CONSTRAINT [FK_EMPR_TARE_TBEMPRESAS]
GO
/****** Object:  ForeignKey [FK_USER_TARE_TBUSUARIOS]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBTAREFAS]  WITH CHECK ADD  CONSTRAINT [FK_USER_TARE_TBUSUARIOS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[TBUSUARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[TBTAREFAS] CHECK CONSTRAINT [FK_USER_TARE_TBUSUARIOS]
GO
/****** Object:  ForeignKey [FK_USER_TARE_TBUSUARIOS_2]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[TBTAREFAS]  WITH CHECK ADD  CONSTRAINT [FK_USER_TARE_TBUSUARIOS_2] FOREIGN KEY([IDUSERDEST])
REFERENCES [dbo].[TBUSUARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[TBTAREFAS] CHECK CONSTRAINT [FK_USER_TARE_TBUSUARIOS_2]
GO
/****** Object:  ForeignKey [FK_COMP_VCOMPNOTA]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VCOMPNOTA]  WITH CHECK ADD  CONSTRAINT [FK_COMP_VCOMPNOTA] FOREIGN KEY([IDCOMP])
REFERENCES [dbo].[TBCOMPROMISSOS] ([IDCOMP])
GO
ALTER TABLE [dbo].[VCOMPNOTA] CHECK CONSTRAINT [FK_COMP_VCOMPNOTA]
GO
/****** Object:  ForeignKey [FK_NOTA_VCOMPNOTA]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VCOMPNOTA]  WITH CHECK ADD  CONSTRAINT [FK_NOTA_VCOMPNOTA] FOREIGN KEY([IDNOTA])
REFERENCES [dbo].[TBNOTAS] ([IDNOTA])
GO
ALTER TABLE [dbo].[VCOMPNOTA] CHECK CONSTRAINT [FK_NOTA_VCOMPNOTA]
GO
/****** Object:  ForeignKey [FK_COMP_VCOMPTARE]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VCOMPTARE]  WITH CHECK ADD  CONSTRAINT [FK_COMP_VCOMPTARE] FOREIGN KEY([IDCOMP])
REFERENCES [dbo].[TBCOMPROMISSOS] ([IDCOMP])
GO
ALTER TABLE [dbo].[VCOMPTARE] CHECK CONSTRAINT [FK_COMP_VCOMPTARE]
GO
/****** Object:  ForeignKey [FK_TARE_VCOMPTARE]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VCOMPTARE]  WITH CHECK ADD  CONSTRAINT [FK_TARE_VCOMPTARE] FOREIGN KEY([IDTARE])
REFERENCES [dbo].[TBTAREFAS] ([IDTARE])
GO
ALTER TABLE [dbo].[VCOMPTARE] CHECK CONSTRAINT [FK_TARE_VCOMPTARE]
GO
/****** Object:  ForeignKey [FK_COMP_VCOMPUSER]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VCOMPUSER]  WITH CHECK ADD  CONSTRAINT [FK_COMP_VCOMPUSER] FOREIGN KEY([IDCOMP])
REFERENCES [dbo].[TBCOMPROMISSOS] ([IDCOMP])
GO
ALTER TABLE [dbo].[VCOMPUSER] CHECK CONSTRAINT [FK_COMP_VCOMPUSER]
GO
/****** Object:  ForeignKey [FK_USER_VCOMPUSER]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VCOMPUSER]  WITH CHECK ADD  CONSTRAINT [FK_USER_VCOMPUSER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[TBUSUARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[VCOMPUSER] CHECK CONSTRAINT [FK_USER_VCOMPUSER]
GO
/****** Object:  ForeignKey [FK_TARE_VTARECOMENT]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VTARECOMENT]  WITH CHECK ADD  CONSTRAINT [FK_TARE_VTARECOMENT] FOREIGN KEY([IDTARE])
REFERENCES [dbo].[TBTAREFAS] ([IDTARE])
GO
ALTER TABLE [dbo].[VTARECOMENT] CHECK CONSTRAINT [FK_TARE_VTARECOMENT]
GO
/****** Object:  ForeignKey [FK_IDEMPR_VUSUAEMPR]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VUSUAEMPR]  WITH CHECK ADD  CONSTRAINT [FK_IDEMPR_VUSUAEMPR] FOREIGN KEY([IDEMPR])
REFERENCES [dbo].[TBEMPRESAS] ([IDEMPR])
GO
ALTER TABLE [dbo].[VUSUAEMPR] CHECK CONSTRAINT [FK_IDEMPR_VUSUAEMPR]
GO
/****** Object:  ForeignKey [FK_IDUSER_VUSUAEMPR]    Script Date: 11/14/2014 16:27:06 ******/
ALTER TABLE [dbo].[VUSUAEMPR]  WITH CHECK ADD  CONSTRAINT [FK_IDUSER_VUSUAEMPR] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[TBUSUARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[VUSUAEMPR] CHECK CONSTRAINT [FK_IDUSER_VUSUAEMPR]
GO
