@model Easy.Models.Usuario
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login de Acesso";

    int valida = 0;

    if (Session["snackl"] != null)
    {
        valida = int.Parse(Session["snackl"].ToString());
    }


    Session.Remove("snackl");
}
<br />
<input id="hidValida" value="@valida" type="hidden"/>
<!--<h1>Quem é você?</h1>-->
<!--<p>&nbsp;</p>-->

<div style="width: 74%">
    <div id="status" class="alert alert-info"></div>
</div>
<div>

    <div class="bs-docs-section">
        <div class="row" style="">
            <div class="col-lg-9">
                <div class="well bs-component transp">
                    <form id="form-login" name="form-login" method="post" action="javascript:function()">
                        <fieldset>
                            <legend></legend>
                            <br />
                            <div class="form-group">
                                <label for="inputEnd" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(model => model.Email, new { @name = "inputEmail", @id = "inputEmail", @placeholder = "Email", @class = "form-control", @type = "email", @required=true })
                                </div>
                            </div>
                            <br />
                            <br />

                            <div class="form-group">
                                <label for="inputBairro" class="col-lg-2 control-label">Senha</label>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(model => model.Senha, new { @name = "inputSenha", @id = "inputSenha", @placeholder = "Senha", @class = "form-control", @type = "password", @required=true })
                                    <br />
                                    <p>
                                        @Html.ActionLink("Esqueceu sua senha?", "Recuperar", "Login", null)
                                    </p>
                                </div>

                            </div>

                            <br />

                            <div class="col-lg-10 col-lg-offset-2">
                                <button id="botao-entrar" type="submit" class="btn btn-primary color_button">Entrar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
  
function myIP() {  
    if (window.XMLHttpRequest) xmlhttp = new XMLHttpRequest();  
    else xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");  
  
    xmlhttp.open("GET","http://api.hostip.info/get_html.php",false);  
    xmlhttp.send();  
  
    hostipInfo = xmlhttp.responseText.split("\n");  
  
    for (i=0; hostipInfo.length >= i; i++) {  
        ipAddress = hostipInfo[i].split(":");  
        if ( ipAddress[0] == "IP" ) return ipAddress[1];  
    }  
  
    return false;  
}  

</script>
<script>

    $(document).ready(function () {
        $("#status").hide();
        $("#botao-entrar").click(function () {

            $.ajax({
                url: "/Login/AutenticacaoDeUsuario",
                data: {
                    email: $("#inputEmail").val(),
                    senha: $("#inputSenha").val(),
                    Url: GetURLParameter('Url'),
                    Ip: myIP()
                },
                dataType: "json",
                type: "GET",
                async: true,
                beforeSend: function () {
                    $("#status").html("Estamos autenticando o usuário. Só um instante...");
                    $("#status").show();
                },
                success: function (dados) {
                    if (dados.OK) {
                        $("#status").html(dados.Mensagem);
                        $("#status").removeClass("alert-info").addClass("alert-success");
                        $("#status").removeClass("alert-danger").addClass("alert-success");


                        setTimeout(function () { window.location.href = dados.Local }, 1000);
                        $("#status").show();
                    }
                    else {
                        $("#status").html(dados.Mensagem);
                        if (dados.Cor) {
                            $("#status").removeClass("alert-info").addClass("alert-danger");
                        }
                        $("#status").show();
                    }
                },
                error: function () {
                    $("#status").html(dados.Mensagem);
                    $("#status").show()
                }
            });
        });
    });
</script>
<script>

    if ($("#hidValida").val() == 1) {
        $(document).ready(function () {
            $.snackbar({ content: "Senha Redefinida, Peço que verifique o Email Cadastrado(CXE/SPM).", timeout: 5000 });
            $("#hidValida").val() = 0;
        });
    } else if ($("#hidValida").val() == 2) {
        $(document).ready(function () {
            $.snackbar({ content: "Deslogado com Sucesso. Tenha um Bom dia", timeout: 3000 });
            $("#hidValida").val() = 0;
        });
    }
    else if ($("#hidValida").val() == 3) {
        $(document).ready(function () {
            $.snackbar({ content: "Não foi encontrado cadastro com o Email Informado.", timeout: 3000 });
            $("#hidValida").val() = 0;
        });
    }


</script>    