@model IEnumerable<Easy.Models.Usuario>
@{
    ViewBag.Title = "Contact";
}
<br />
<div class="row">
              <div class="col-md-12">
              <h1>Contatos</h1><a href="~/Contatos/Add" style="margin-left:90%" class="btn btn-fab btn-primary btn-raised icon-material-add"></a>
              </div>
            </div>
<br />

<div class="list-group">
    @* Loop enquanto ouver contatos no bd repitir a linha abaixo *@
    <div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src="~/Content/img/contato.png" alt="icon">
        </div>
        <div class="row-content">
            <h3> @Html.ActionLink("Vitor Hugo Santos", "Detalhes", new {  id=1})  </h3>
        </div>
    </div>
    <div class="list-group-separator"></div>
    @* ate aqui *@
    <div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src="~/Content/img/contato.png" alt="icon">
        </div>
        <div class="row-content">
            <h3><a class="" href="~/Contatos/Detalhes">Sebastião Purcini</a></h3>
        </div>
    </div>
    <div class="list-group-separator"></div><div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src="~/Content/img/contato.png" alt="icon">
        </div>
        <div class="row-content">
            <h3><a class="" href="~/Contatos/Detalhes">Nathan Bernardes</a></h3>
        </div>
    </div>
</div>
