@model IEnumerable<Easy.Models.Comentarios>
@{
    var coment = new Easy.Models.Comentarios();
}

<div style="padding: 50px 50px;">
@using (Html.BeginForm("AddComentario", "Tarefas", null, FormMethod.Post, new { @class="form-horizontal"}))
{
       
        <fieldset>
            <legend>Adicionar Comentário</legend>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Comentário</label>
                 <div class="col-lg-10">
                    @Html.TextAreaFor(model => coment.Comentario, new {@class="form-control", rows="3" , id="textArea", @maxlength="200" })
                    <span class="help-block">A Comentário deve ser breve, contendo no máximo 200 caracteres.</span>
                    @Html.ValidationMessageFor(model => coment.Comentario, null, new { @class="text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" class="btn btn-primary" value="Comentar" />
                </div>
            </div>
        </fieldset>
}
<hr />
<table>
    <tr>
        <th>
        </th>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdComent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
    </tr>
}

</table>
</div>
