@{
    var coment = new Easy.Models.DAOComentarios();
    var valid = 0;
    if(Session["idTarefa1"] != null)
    {
        valid = (int)Session["idTarefa1"];
    }

    var idTarefa = valid;
}

<div style="padding: 50px 50px;">      

<fieldset>
    <legend>Adicionar Comentário</legend>
    <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Comentário</label>
            <div class="col-lg-10">
                @Html.TextArea("txtArea", new { @class="form-control",  @id="textArea",  @rows = 3, @maxlength="200"})
            <!--<input type="text" class="form-control"  id="textArea" maxlength="200" />-->
            <span class="help-block">A Comentário deve ser breve, contendo no máximo 200 caracteres.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <input type="submit" id="btEnviar" class ="btn btn-primary" value="Comentar" />
        </div>
        <!--<div class="col-lg-10 col-lg-offset-2">
            <input type="button" id="btAtualizar" class ="btn btn-primary" value="Atua" />
        </div>-->
    </div>
</fieldset>

<hr />
    <a href="#" id="mComentarios">Mostrar Comentários..</a>
    <br />
    <div id="loadLista" class="esconderDiv">
       @Html.Partial("ListaComent", coment.ListaComentarios(idTarefa) )
    </div>
</div>

<script type="text/javascript">


    $("#btEnviar").click(function () {

        var comentario = $("#textArea").val();
        var ident = "@Session["idTarefa1"]";
        //alert(ident);

        if (comentario != "") {
            $.ajax({
                type: "POST",
                url: "/Tarefas/AddComentario",
                dataType: "json",
                data: { idTar: ident, comentTar: comentario },
                success: function (data) {
                    $("#textArea").val("");
                    $("#loadLista").load("/Tarefas/RetornaPartial", { id: "" + ident + "" });
                }
            })
        }
    });

    $("#mComentarios").click(function () {
        $(".esconderDiv").toggle();
    });

    $("#btAtualizar").click(function () {
        alert("Foi");
        $("#loadLista").load( "/Tarefas/RetornaPartial", { id: 40 });
        alert("Saiu");
    });

    $("#btEnviar2").click(function () {
        var comentario = $("#textArea").val();
        alert(comentario);
        alert("id");
    });

</script>
